body {
  background-color: #fbfafa;
}

h1 {
  color: #467b99;
}

h2 {
  color: #467b99;
}

.navigation a {
  color: #d58060;
}

a {
  color: #5baedb;
}

.footer a {
  color: #d58060;
}

i.fa-2x {
  color: #d5c5be;
}

footer {
  font-size: 80%;
  color: #d5c5be;
}

.content {
  color: #467b99;
}

code {
  color: black !important;
}

.highlight pre {
  background-color: #d5c5be !important;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; /* future proofing */
  -khtml-border-radius: 10px; /* for old Konqueror browsers */
}
